<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-confirmacion-compra-ui-styles.html">
<dom-module id="cells-confirmacion-compra-ui">
  <script src="cells-confirmacion-compra-ui.js"></script>
</dom-module>